@import "../../scss/variables";

.pages {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .control {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link {
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .active {
    background-color: rgba($button-color, .3);
  }
}