@import "../variables";

.button {
  height: $ui-height;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: $ui-height;
  color: var(--lightTextColor);
  background-color: var(--button-bg-color);


  padding: 21px 40px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  // flex-grow: 1;

  &__text {
    color: inherit;
  }

  &__icon {
    display: flex;
    align-items: center;
  }
}

.roundedButton {
  height: $ui-height;
  min-width: $ui-height;
  flex-grow: 0;
  border-radius: 50%;
  color: var(--lightTextColor);
  background-color: var(--button-bg-color);  
}