.button {
  height: $ui-height;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: $ui-height;
  color: var(--lightTextColor);
  background-color: var(--button-bg-color);

  &__counter-badge {
    &:not(:empty) {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      min-width: 22px;
      height: 22px;
      padding: 3px;
      // margin: 0 5px;
      border-radius: 22px;
      background-color: var(--body-bg-color);
      color: var(--button-bg-color)
    }
  }

  &_size {
    &_s {
      height: $secondary-ui-height;
      padding: 9px 25px;
      -moz-column-gap: 5px;
      column-gap: 5px;
      flex-grow: 0;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.15em;
    }

    &_l {
      height: $ui-height;
      padding: 21px 40px;
      -moz-column-gap: 15px;
      column-gap: 15px;
      flex-grow: 1;
    }
  }

  &_form {
    &_rounded {
      height: $ui-height;
      width: $ui-height;
      flex-grow: 0;
      border-radius: 50%;
    }
  }

  &__text {
    color: inherit;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &_state {
    &_done {
      color: $button-color;
      box-shadow: $button-color 0px 0px 0px 3px;
      background-color: var(--body-bg-color);

      & svg path {
        fill: $button-color;
      }

      & .counter_badge {
        color: white !important;
        background-color: $button-color !important;
      }
    }
  }
}