.checkbox {
  color: var(--darkTextColor);

  &__counter {
    font-size: 10px;
    color: inherit;
  }

  &__input {
    margin-right: 10px;
  }

  &__text {
    margin-right: 5px;
  }

  input[type="checkbox"] {
    accent-color: #8691a1;
  }
}