@import "../../styles/main/variables";

$index: calc(1vh + 1vw);
$min-height: 650px;

.home {
  width: 100%;
  min-height: $min-height;
  position: relative;
  color: $body-bg-color;

  .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    row-gap: 60px;
    flex-direction: column;
  }

  .image {
    object-fit: cover;
    min-height: $min-height;
    position: absolute;
    z-index: -1
  }

  .title {
    max-width: 700px;
    font-size: calc($index * 2.8);
    line-height: 110%;
  }

  .subtitle {
    font-weight: 700;
    font-size: calc($index * 1.2);
    text-transform: uppercase;
  }
}