@import "../../scss/variables";

.counter {
  display: flex;
  column-gap: 20px;

  .button {
    width: 34px;
    height: 23px;
    background-color: rgba($button-color, .3);
    border-radius: 20px;

    &:disabled {
      background-color: var(--online-border-color);
    }
  }
}

.mock {
  width: 125px;
}