@import "../../styles/variables";

.header {
  position: sticky;
  top: 0;
  z-index: 10;

  .row {
    padding: 0 15px;
    box-sizing: content-box;
    max-width: $container-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .topWrapper {
    background-color: $body-bg-color;
    border-bottom: $border-color 1px solid;
  }

  .top {
    min-height: 60px;

    @media only screen and (max-width: 1150px) {
      justify-content: flex-end;
    }
  }

  .contactsWrapper {
    display: flex;
    column-gap: 40px;

    @media only screen and (max-width: $container-width) {
      column-gap: 20px;
    }

    @media only screen and (max-width: 1150px) {
      display: none;
    }
  }

  .nav {
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    color: $dark-text-color;
  }

  .navLink {
    height: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: $transition;

    &:hover {
      color: $main-text-color;
    }

    &:last-child {
      padding-right: 0;
    }

    &:first-child {
      padding-left: 0;
    }

    &:not(:last-child) {
      border-right: $dash-border;
    }

    @media only screen and (max-width: $container-width) {
      padding: 0 10px;
    }
  }

  .adminLink {
    display: flex;
    padding: 10px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: $light-text-color;
    background-color: rgb(32, 194, 134);
  }

  .bottomWrapper {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: $border-color 1px solid;
  }

  .bottom {
    min-height: 110px;
    display: flex;
  }

  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & svg {
      max-width: none;
    }
  }

  .burderButton {
    display: none;
    margin-right: 15px;

    @media only screen and (max-width: 1150px) {
      display: block;
    }
  }

  .logo {
    margin-right: 40px;
  }

  .actions {
    display: flex;
  }

  .action {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  .right {
    position: relative;
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  .call {
    display: flex;

    @media only screen and (max-width: 1150px) {
      display: none;
    }
  }

  .schedule {
    color: $dark-text-color;
  }

  .textColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .orderCall {
    color: $dark-text-color;
    text-decoration: underline !important;
  }

  .priceListButton {
    @media only screen and (max-width: $container-width) {
      display: none;
    }
  }

  .callImage {
    margin-left: 14px;
    position: relative;

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 29px;
      right: 6px;
      border-radius: 50%;
      background-color: $color-green;
      box-shadow: $online-border-color 0px 0px 0px 2px;
    }
  }
}



.cartLink {
  display: flex;
  align-items: center;
  height: $ui-height;
  border-radius: $ui-height;
  padding: calc($offset / 2);
  transform: translateZ(0) scale(1);
  transition: $transition;

  &:active {
    transform: scale(1.1) translateY(.125rem);
  }

  .icon {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 25px;

    & svg {
      max-width: none;
    }
  }

  .counter {
    $size: 22px;

    height: $size;
    min-width: $size;
    padding: 3px;
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

    border-radius: $size;

    box-shadow: $body-bg-color 0px 0px 0px 3px;
    color: $light-text-color;
    background-color: $button-color;
  }

  .text {
    min-width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }

  .title {
    font-weight: 300;
    color: $dark-text-color;
  }

  .total {
    font-weight: 600;
  }
}