@import "../../scss/variables";

.filter {
  min-width: 260px;
  margin-right: 100px;

  position: relative;

  @media only screen and (max-width: 700px) {
    width: 100%;
    margin-right: 0;
  }

  .price {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .title {
    display: flex;
    font-size: 16px;
    font-weight: 500;
  }

  .subtitle {
    color: $dark-text-color;
    display: flex;
    column-gap: 5px;
  }

  .priceWrapper {
    display: flex;
    column-gap: 5px;
    justify-content: space-between;
  }

  .priceInput {
    width: 105px;
    height: 23px;
    padding: 4px 14px;
    border-radius: 20px;
    text-align: center;
    background-color: $button-color-light;
  }

  .manufacturer {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .categoriesList {
    row-gap: 10px;
  }

  .listItem {
    color: $dark-text-color;
  }

  .borderline {
    border: $dash-border;
  }

  .controls {
    display: flex;
    column-gap: 10px;

    @media only screen and (max-width: 700px) {
      justify-content: space-between;
    }
  }
  
  .currency {
    font-weight: 600;
  }
}

.expandLink {
  display: inline-flex;
  align-items: center;
  color: $dark-text-color;

  &__arrow {

    & svg {
      margin-left: 5px;
      margin-bottom: 2px;
    }
  }

}