@import "../../styles/main/variables";

.item {
  position: relative;

  @media only screen and (max-width: 1150px) {
   padding: 20px;
  }

  .wrapper {
    position: relative;

    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: $dash-border;

    @media only screen and (max-width: 1150px) {
      max-height: 600px;
      flex-direction: column;
      row-gap: 10px;
    }
  }

  .imageWrapper {
    position: relative;
    height: 290px;
    width: 290px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .infoWrapper {
    position: relative;
    min-height: 190px;
    max-width: 480px;
    display: flex;
    align-items: flex-start;
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
  }

  .image {
    max-height: 100%;
    max-width: 100%;
  }

  .name {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    @media only screen and (max-width: 1150px) {
      font-size: 20px;
    }
  }

  .description {
    font-size: 12px;
    color: $dark-text-color;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
  }

  .counter {
    display: flex;
  }

  .divider {
    @media only screen and (max-width: 1150px) {
      display: none;
    }
  }

  .total {
    text-align: center;
    min-width: 200px;

    @media only screen and (max-width: 600px) {
      min-width: 0;
    }
  }

  .controls {
    position: relative;
    height: $secondary-ui-height;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .price {
    font-size: 30px;
    display: inline-flex;
    flex-wrap: nowrap;

    @media only screen and (max-width: 1150px) {
      min-width: 80px;
      font-size: 14px  
    }
  }
}