@import "../../scss/variables";

.footer {
  background-color: $dark-text-color;
  color: $body-bg-color;
  padding: 70px 0 116px 0;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;

    @media only screen and (max-width: 1000px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  .main {
    @media only screen and (max-width: 1000px) {
      grid-area: 1 / 1 / 2 / 3;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    width: 320px;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .logo,
  .label {
    margin-bottom: 15px;
  }

  .description {
    margin-bottom: 45px;
  }

  .title {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 20px;
  }

  .link {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .row {
    display: flex;
  }

  .sign {
    display: block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .button {
    margin-bottom: 20px;
  }

  .phone {
    margin-bottom: 25px;
  }

  .call {
    text-decoration: underline;
  }

  .contact {
    font-weight: 600;
  }

  .mail {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
}