@import "../../scss/variables";

.item {
  width: 326px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;

  box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 20px;

  .body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    max-height: 250px;
  }

  .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
  }

  .info {
    flex: 1 1 auto;
  }

  .property {
    color: $dark-text-color;
    display: flex;
    -moz-column-gap: 5px;
    column-gap: 5px;
  }

  .value {
    font-weight: 500;
    color: $main-text-color;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    font-weight: 800;
    font-size: 16px;
  }
}