@import "../main/variables";

.checkbox {
  color: $dark-text-color;

  .counter {
    font-size: 10px;
    color: inherit;
  }

  .input {
    margin-right: 10px;

    &:checked+span {
      font-weight: 700;
    }
  }

  .checked {
    font-weight: 700;
  }

  .hidden {
    display: none;
  }

  .text {
    margin-right: 5px;
  }

  input[type="checkbox"] {
    accent-color: #8691a1;
  }
}