@import "./variables";

.wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
  // border:1px solid red;
}