@import "./variables";

.wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {  
  max-width: $container-width;
  margin: 0 auto;
}

.content {
  padding: 0 15px;
  box-sizing: content-box;
}

.fill {
  flex: 1 1 auto;
}