// variables
$primary-font-family: 'Inter';
$primary-font-weight: 400;
$primary-font-size: 14px;
$header-font-size: 40px;

$offset: 15px;
$duration: 0.15s;
$ui-height: 60px;
$secondary-ui-height: 45px;

$container-width: 1366px;

$element-color: #ffffff;
$button-color: #FFC85E;
$button-color-light: rgba($button-color, .3);
$dark-text-color: #3F4E65;

$shadow: rgba(50, 50, 93, 0.05) 0px 13px 27px -5px, rgba(0, 0, 0, 0.05) 0px 8px 16px -8px;;

:root {
  --mainTextColor: #000000;
  --darkTextColor: #3F4E65;
  --lightTextColor: #ffffff;

  --border-color: #3f4e6532;

  --body-bg-color: #ffffff;
  --button-bg-color: #FFC85E;
  --field-bg-color: #EDEDED;


  --color-green: #1FD85D;
  --online-border-color: #F0F6FA;
}