$primary-font-family: 'Inter';
$primary-font-weight: 400;
$primary-font-size: 14px;
$header-font-size: 40px;
$mobile-title-font-size: 20px;

$offset: 15px;
$duration: 0.15s;
$ui-height: 60px;
$secondary-ui-height: 45px;

$container-width: 1366px;

$element-color: #ffffff;
$button-color: #FFC85E;
$button-color-light: rgba($button-color, .3);
$dark-text-color: #3F4E65;
$main-text-color: #000000;
$dark-text-color: #3F4E65;
$light-text-color: #ffffff;

$border-color: #3f4e6532;

$body-bg-color: #ffffff;
$button-bg-color: #FFC85E;
$field-bg-color: #EDEDED;


$color-green: #1FD85D;
$online-border-color: #F0F6FA;
$dash-border: 1px dashed $border-color;
$shadow: rgba(50, 50, 93, 0.05) 0px 13px 27px -5px, rgba(0, 0, 0, 0.05) 0px 8px 16px -8px;