@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap&subset=cyrillic-ext');

// variables
$primary-font-family: 'Inter';
$primary-font-weight: 400;
$primary-font-size: 14px;
$header-font-size: 40px;

$offset: 15px;
$ui-height: 60px;
$secondary-ui-height: 45px;

$container-width: 1366px;

$element-color: #ffffff;
$button-color: #FFC85E;
$dark-text-color: #3F4E65;

:root {
  --mainTextColor: #000000;
  --darkTextColor: #3F4E65;
  --lightTextColor: #ffffff;

  --border-color: #3f4e6532;

  --body-bg-color: #ffffff;
  --button-bg-color: #FFC85E;
  --field-bg-color: #EDEDED;


  --online-bg-color: #1FD85D;
  --online-border-color: #F0F6FA;
}

@import "./libs/normalize";
@import './components/path';
@import './components/checkbox';
@import './components/title';
@import './components/pagination-pages';

///////////////////////////////////////////////////////////////////////////////////////////
/// ---------------------------------------MAIN------------------------------------------//
///////////////////////////////////////////////////////////////////////////////////////////
html {
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  font-size: $primary-font-size;
  line-height: 150%;
  color: var(--mainTextColor);
  background-color: var(--body-bg-color);
}

._container {
  max-width: $container-width;
  margin: 0 auto;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(51, 51, 51) 0px 0px 0px 1px;
}

.wrapper {}

///////////////////////////////////////////////////////////////////////////////////////////
/// --------------------------------------HEADER-----------------------------------------//
///////////////////////////////////////////////////////////////////////////////////////////
.app-header {
  &__container {}

  &__row-container {
    padding: 0 15px;
    box-sizing: content-box;
    max-width: $container-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__top-wrapper {
    border-bottom: var(--border-color) 1px solid;
  }

  &__top {
    min-height: 60px;

  }

  &__contact-wrapper {
    display: flex;
  }

  &__contact-info {
    display: flex;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__nav {
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    color: var(--darkTextColor);
  }

  &__nav-link {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: inherit;
  }

  &__bottom-wrapper {
    border-bottom: var(--border-color) 1px solid;
  }

  &__bottom {
    min-height: 110px;
    display: flex;
  }

  &__left-column {
    display: flex;

    & svg {
      max-width: none;
    }
  }

  &__logo {
    margin-right: 40px;
  }

  &__actions-wrapper {
    display: flex;
  }

  &__action {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__button-product {}

  &__search-field {
    width: 260px;
  }

  &__right-column {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__call-wrapper {
    display: flex;
  }

  &__schedule {
    color: var(--darkTextColor);
  }

  &__call-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__phone-number {}

  &__order-call {
    color: var(--darkTextColor);
    text-decoration: underline !important;
  }

  &__call-image {
    margin-left: 14px;
    position: relative;

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 29px;
      right: 6px;
      border-radius: 50%;
      background-color: var(--online-bg-color);
      box-shadow: var(--online-border-color) 0px 0px 0px 2px;
    }
  }

  &__button-price-list {}

  &__cart-button {}
}

// ----contact-info------------------------------------------------------//
.contact-info {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: $offset;
    max-width: none;
  }

  &__link-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    font-weight: 300;
    color: var(--darkTextColor);
  }

  &__link {}
}

.contact-link {
  font-weight: 600;
}

.divider {
  height: 50px;
  border: 1px dashed #3F4E65;
  opacity: 0.1;

  &_size {
    &_long {
      height: 100%;
      margin: 0 30px;
    }

    &_short {
      height: 50px;
      margin: 0 25px;
    }
  }
}

//-----button----------------------------------------------------------------------------//
.button {
  height: $ui-height;

  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: $ui-height;
  color: var(--lightTextColor);
  background-color: var(--button-bg-color);

  &_width {
    &_short {
      padding: 10px;
    }

    &_long {
      padding: 21px 40px;
    }
  }

  &__text {
    color: inherit;
    margin-right: 12px;
  }

  &__icon {
    display: flex;
    align-items: center;
  }
}

//---field---------------------------------------------------------------//
.field {
  $field-offset: 10px;
  position: relative;

  &__input {
    width: 100%;
    height: $ui-height;
    padding: 20px;
    border-radius: $ui-height;
    background-color: var(--field-bg-color);
  }

  &__button-submit {
    position: absolute;
    top: $field-offset;
    right: $field-offset;

    $size: $ui-height - (2 * $field-offset);
    height: $size;
    width: $size;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-bg-color);
  }
}

.cart-button {
  display: flex;
  align-items: center;
  height: $ui-height;
  border-radius: $ui-height;
  padding: $offset / 2;

  &__icon-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 25px;

    & svg {
      max-width: none;
    }
  }

  &__items-counter {
    $size: 22px;

    height: $size;
    min-width: $size;
    padding: 3px;
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

    border-radius: $size;

    box-shadow: var(--body-bg-color) 0px 0px 0px 3px;
    color: var(--lightTextColor);
    background-color: var(--button-bg-color);
  }

  &__total-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 300;
    color: var(--darkTextColor);
  }

  &__total {
    font-weight: 600;
  }

  &:hover {}
}

///////////////////////////////////////////////////////////////////////////////////////////
/// --------------------------------------CONTENT----------------------------------------//
///////////////////////////////////////////////////////////////////////////////////////////

.content {
  flex: 1 1 auto;

  &__products {
    margin-bottom: 50px ;
  }
}

.page-header {
  &__container {
    padding: 0 15px;
    box-sizing: content-box;
  }

  &__path {
    margin: 50px 0;
  }
}

.path {
  .path__step {
    color: var(--darkTextColor)
  }

  .path__divider {
    margin: 0 10px;
  }
}

.products {
  position: relative;

  &__container {
    padding: 0 15px;
    box-sizing: content-box;
  }

  &__body {}

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__title {
    text-transform: uppercase;
  }

  &__options {}

  &__sort {}

  &__sort-title {
    font-weight: 500;
  }

  &__sort-link {
    color: var(--darkTextColor)
  }

  &__categories-filter {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__filter-card {
    padding: 10px;

    display: flex;
    align-items: center;
    text-align: center;
    color: var(--darkTextColor);
    background-color: var(--body-bg-color);
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.06);
    border-radius: 10px;

    &:hover {
      // background-color: darken($element-color, 3%);
      color: lighten($dark-text-color, 20%);
      box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.15);
    }

  }
}

///////////////////////////////////////////////////////////////////////////////////////////
/// --------------------------------------PRODUCTS---------------------------------------//
///////////////////////////////////////////////////////////////////////////////////////////

.products {
  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
  }


  &__filter-sidebar {
    margin-right: 100px;
  }

  &__list-wrapper {
    flex-grow: 1;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(326px, 1fr));
    grid-column-gap: 11px;
    justify-items: center;
    grid-column-gap: 21px;
    grid-row-gap: 21px;
  }

  &__pages {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__description {
    color: var(--darkTextColor)
  }
}

///////////////////////////////////////////////////////////////////////////////////////////
/// -----------------------------------FILTER-SIDEBAR------------------------------------//
///////////////////////////////////////////////////////////////////////////////////////////
.filter-sidebar {
  width: 240px;
  position: relative;

  &__section {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__subtitle {
    color: var(--darkTextColor);
    margin-bottom: 16px;
  }

  &__currency {}

  &__price-fields-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__price-input {
    width: 105px;
    height: 23px;
    padding: 4px 14px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba($button-color, .3);
  }

  &__dash {}

  &__manufacturer {}

  &__search-field {
    margin-bottom: 15px;
  }

  &__manufacturer-list {
    margin-bottom: 15px;
  }

  &__manufacturer-item {}

  &__categories {}

  &__category-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    & a {
      color: var(--darkTextColor)
    }
  }

  &__borderline {
    margin: 20px 0;
    border: 1px dashed #3F4E65;
    opacity: 0.1;
  }

  &__controls {
    display: flex;
    column-gap: 10px;
  }

  &__show-button {
    flex-grow: 1;
  }

  &__delete-button {
    height: $ui-height;
    width: $ui-height;
    flex-grow: 0;
  }
}

.show-hide-link {
  display: inline-flex;
  align-items: center;
  color: var(--darkTextColor);

  &__direction-arrow {

    & svg {
      margin-left: 5px;
      margin-bottom: 2px;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////
/// ---------------------------------PRODUCT-ITEM----------------------------------------//
///////////////////////////////////////////////////////////////////////////////////////////

.product-item {
  width: 326px;
  display: grid;

  background: var(--body-bg-color);
  box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 20px;

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {}

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 15px;
  }

  &__info {
    margin-bottom: 15px;
  }

  &__property-value {
    font-weight: 500;
  }

  &__property-title {
    color: var(--darkTextColor)
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-currency,
  &__price-value {
    font-weight: 800;
    font-size: 16px;
    line-height: 130%;
  }

  &__button-add {
    padding: 9px 25px;
    height: $secondary-ui-height;
    background-color: var(--button-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $secondary-ui-height;
    color: var(--lightTextColor);
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
  }
}