@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap&subset=cyrillic-ext');

@import "./variables";
@import "./libs/normalize";
// @import './components/title';
@import './components/pagination-pages';

///////////////////////////////////////////////////////////////////////////////////////////
/// ---------------------------------------MAIN------------------------------------------//
///////////////////////////////////////////////////////////////////////////////////////////
body {
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  font-size: $primary-font-size;
  line-height: 150%;
  color: var(--mainTextColor);
  background-color: var(--body-bg-color); 
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

///////////////////////////////////////////////////////////////////////////////////////////
/// --------------------------------------HEADER-----------------------------------------//
///////////////////////////////////////////////////////////////////////////////////////////
.app-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;

  &__container {}

  &__row-container {
    padding: 0 15px;
    box-sizing: content-box;
    max-width: $container-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__top-wrapper {
    background-color: var(--body-bg-color);
    border-bottom: var(--border-color) 1px solid;
  }

  &__top {
    min-height: 60px;
  }

  &__contact-wrapper {
    display: flex;
  }

  &__contact-info {
    display: flex;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__nav {
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    color: var(--darkTextColor);
  }

  &__nav-link {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: inherit;
  }

  &__bottom-wrapper {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: var(--border-color) 1px solid;
  }

  &__bottom {
    min-height: 110px;
    display: flex;
  }

  &__left-column {
    display: flex;

    & svg {
      max-width: none;
    }
  }

  &__logo {
    margin-right: 40px;
  }

  &__actions-wrapper {
    display: flex;
  }

  &__action {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__search-field {
    width: 260px;
  }

  &__right-column {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__call-wrapper {
    display: flex;
  }

  &__schedule {
    color: var(--darkTextColor);
  }

  &__call-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__phone-number {}

  &__order-call {
    color: var(--darkTextColor);
    text-decoration: underline !important;
  }

  &__call-image {
    margin-left: 14px;
    position: relative;

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 29px;
      right: 6px;
      border-radius: 50%;
      background-color: var(--color-green);
      box-shadow: var(--online-border-color) 0px 0px 0px 2px;
    }
  }

  &__cart-button {}
}

// ----contact-info------------------------------------------------------//
.contact-info {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: $offset;
    max-width: none;
  }

  &__link-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    font-weight: 300;
    color: var(--darkTextColor);
  }

  &__link {}
}

.contact-link {
  color: inherit;
  font-weight: 600;
}

.divider {
  height: 50px;
  border: $dash-border;
  opacity: 0.1;

  &_size {
    &_long {
      height: 100%;
      margin: 0 30px;
    }

    &_short {
      height: 50px;
      margin: 0 25px;
    }
  }
}

//---field---------------------------------------------------------------//

.cart-button {
  display: flex;
  align-items: center;
  height: $ui-height;
  border-radius: $ui-height;
  padding: calc($offset / 2);

  &__icon-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 25px;

    & svg {
      max-width: none;
    }
  }

  &__items-counter {
    $size: 22px;

    height: $size;
    min-width: $size;
    padding: 3px;
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

    border-radius: $size;

    box-shadow: var(--body-bg-color) 0px 0px 0px 3px;
    color: var(--lightTextColor);
    background-color: var(--button-bg-color);
  }

  &__total-wrapper {
    min-width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 300;
    color: var(--darkTextColor);
  }

  &__total {
    font-weight: 600;
  }

  &:hover {}
}

///////////////////////////////////////////////////////////////////////////////////////////
/// --------------------------------------CONTENT----------------------------------------//
///////////////////////////////////////////////////////////////////////////////////////////
.content {
  flex: 1 1 auto;
  padding: 50px 0 0 0;

  &__products {
    margin-bottom: 50px;
  }

  &__app-footer {}
}

.page-header {
  &__container {
    padding: 0 15px;
    box-sizing: content-box;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////
/// --------------------------------------PRODUCTS---------------------------------------//
///////////////////////////////////////////////////////////////////////////////////////////
// .products {
//   position: relative;

//   &__title-wrapper {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     margin-bottom: 25px;
//   }

//   &__title {
//     text-transform: uppercase;
//   }

//   &__content {
//     position: relative;
//     display: flex;
//     justify-content: space-between;
//   }

//   &__list-wrapper {
//     flex-grow: 1;
//   }

//   &__list {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
//     justify-items: center;
//     column-gap: 21px;
//     row-gap: 21px;
//   }

//   &__pages {
//     margin: 50px 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   &__description {
//     color: var(--darkTextColor)
//   }
// }

///////////////////////////////////////////////////////////////////////////////////////////
/// -----------------------------------FILTER-SIDEBAR------------------------------------//
///////////////////////////////////////////////////////////////////////////////////////////


.show-hide-link {
  display: inline-flex;
  align-items: center;
  color: var(--darkTextColor);

  &__direction-arrow {

    & svg {
      margin-left: 5px;
      margin-bottom: 2px;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////
/// ---------------------------------PRODUCT-ITEM----------------------------------------//
///////////////////////////////////////////////////////////////////////////////////////////

.product-item {
  width: 326px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;

  box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 20px;

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    max-height: 250px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
  }

  &__info {
    flex: 1 1 auto;
  }

  &__property-title {
    color: var(--darkTextColor);
    display: flex;
    -moz-column-gap: 5px;
    column-gap: 5px;
  }

  &__property-value {
    font-weight: 500;
    color: var(--mainTextColor);
  }


  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-currency,
  &__price-value {
    font-weight: 800;
    font-size: 16px;
    line-height: 130%;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////
/// -----------------------------------CART-ITEM-----------------------------------------//
///////////////////////////////////////////////////////////////////////////////////////////

.cart-item {
  position: relative;

  &__wrapper {
    position: relative;
    max-height: 290px;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: $dash-border;
  }

  &__image-wrapper {
    position: relative;
    height: 290px;
    width: 290px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info-wrapper {
    position: relative;
    min-height: 190px;
    max-width: 480px;
    display: flex;
    align-items: flex-start;
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    max-height: 100%;
    max-width: 100%;
  }

  &__name {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }

  &__description {
    font-size: 12px;
    color: var(--darkTextColor);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
  }

  &__info {
    flex: 1 1 auto;
  }

  &__counter {
    display: flex;
  }

  &__total-value {
    text-align: center;
    min-width: 200px;
  }

  &__controls-wrapper {
    height: $secondary-ui-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.price {
  font-size: 30px;
  display: inline-flex;
  flex-wrap: nowrap;
}